*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dosis", serif;
    color: #fff;
}
// rgb(193, 127, 250)
body{
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    background-position: center;
    position: relative;
    isolation: isolate;

    &::after{
        position: absolute;
        z-index: -1;
        background-color: #002;
        inset: 0;
        content: '';
        opacity: .6;
    }

    .container{
        height: 100vh;
        position: relative;

        @media(max-width: 768px){
            max-height: 96vh;
        }

        .content_box{
            max-width: 720px;
            padding: 16px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-80%, -50%);
            transition: all ease 1s;
            
            @media(max-width: 1024px){
                padding: 0;
                transform: translate(-50%, -50%);
                transition: all ease .4s;
            }
            
            .upTitle{
                font-size: 40px;
                font-weight: 400;
                letter-spacing: 4px;
                
                @media(max-width: 768px){
                    text-align: center;
                }
            }
            .mainTitle{
                font-family: "Dancing Script", serif;
                font-size: 80px;
                text-shadow: rgb(193, 127, 250) 0 0 4;
                
                @media(max-width: 768px){
                    text-align: center;
                }
            }
            .description{
                margin-bottom: 32px;
                text-align: justify;
                font-size: 20px;

                strong{
                    letter-spacing: 2px;
                    background-color: rgba($color: white, $alpha: 0.4);
                    padding: 0 2px;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }

            .btn_box{
                display: flex;
                gap: 16px;

                @media(max-width: 768px){
                    justify-content: center;
                }

                .btn{
                    border-radius: 8px;
                    background-color: transparent;
                    padding: 8px 32px;
                    border: solid 2px #fff;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all ease .3s;
                    
                    &:hover{
                        transform: scale(1.04);
                        box-shadow: 0 0 8 rgb(193, 127, 250);
                        background: #fff;
                        color: #000;
                    }
                }
                .destaque{
                    background-color: #fff;
                    a{
                        color: #000;
                        text-decoration: none;
                    }

                    &:hover{
                        background-color: rgb(54, 0, 101);
                        
                        a{
                            color: #fff;
                        }
                    }

                    
                }
            }
        }
        .sobreMim{
            width: 90%;

            .upTitle{
                font-size: 24px;
                margin-bottom: 16px;
            }
            .description_box{
                margin-bottom: 16px;

                .description{
                    margin-bottom: 8px;
                }
            }
        }
        .projetos{
            text-align: center;
            position: relative;
            transform: translate(-50%, -50%);
            max-width: 1280px;
            width: auto;
            
            .projects_box{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 32px;
                max-width: 72%;
                max-height: 68vh;
                margin: 32px auto;
                padding: 8px 0;
                overflow-y: auto;

                &::-webkit-scrollbar{
                    background-color: rgba($color: white, $alpha: 0.4);
                    border-radius: 4px;
                    width: 8px;

                    @media(max-width: 768px){
                        width: 4px;
                    }
                }
                &::-webkit-scrollbar-thumb{
                    background-color: rgba($color: white, $alpha: 0.8);
                }

                .projeto{
                    max-width: 25vh;
                    transition: all ease .3s;
                    text-shadow: 0 0 10 #000;

                        img{
                            max-width: 280px;
                            width: 100%;
                            border: white solid 2px;
                            border-radius: 8px;
                            box-shadow: 0 0 4 white;
                        }

                    &:hover{
                        transform: scale(1.04);
                    }

                    @media(max-width: 768px){
                        max-width: 64vw;

                        p{
                            text-align: center;
                        }
                    }
                }

                @media(max-width: 768px){
                    gap: 16px;
                }
            }
            .btn_box{
                display: flex;
                justify-content: center;
            }
        }
        .hidden{
            transform: translate(-80%, 360px);
            opacity: 0;

            @media(max-width: 768px){
                transform: translate(-50%, 360px);
            }
        }
        .hidden2{
            transform: translate(-50%, 360px);
            opacity: 0;
        }
    }
}