*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

body{
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%;
    position: relative;
    isolation: isolate;

    &::after{
        position: absolute;
        z-index: -1;
        background-color: #002;
        inset: 0;
        content: '';
        opacity: .6;
    }

    .container{
        height: 100vh;
        position: relative;

        .content_box{
            max-width: 720px;
            padding: 16px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-80%, -50%);
            transition: all ease 1s;
            
            @media(max-width: 1024px){
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all ease .4s;
            }
            
            .upTitle{
                font-size: 32px;
                font-weight: 400;
                letter-spacing: 4px;
                
                @media(max-width: 768px){
                    text-align: center;
                }
            }
            .mainTitle{
                font-family: "Abel", sans-serif;
                font-size: 80px;
                
                @media(max-width: 768px){
                    text-align: center;
                }
            }
            .description{
                margin-bottom: 32px;
                text-align: justify;

                strong{
                    letter-spacing: 2px;
                    cursor: pointer;
                }
            }

            .btn_box{
                display: flex;
                gap: 16px;

                @media(max-width: 768px){
                    justify-content: center;
                }

                .btn{
                    background-color: transparent;
                    padding: 8px 32px;
                    border: solid 2px #fff;
                    font-size: 16px;
                    cursor: pointer;
                    transition: all ease .3s;
                    
                    &:hover{
                        transform: scale(1.04);
                        box-shadow: 0 0 8 #fff;
                        background: #fff;
                        color: #000;
                    }
                }
                .destaque{
                    background-color: #fff;
                    a{
                        color: #000;
                        text-decoration: none;
                    }

                    &:hover{
                        background-color: #002;
                        
                        a{
                            color: #fff;
                        }
                    }

                    
                }
            }
        }
        .sobreMim{
            width: 90%;

            .upTitle{
                font-size: 24px;
                margin-bottom: 16px;
            }
            .description_box{
                margin-bottom: 16px;

                .description{
                    margin-bottom: 8px;
                }
            }
        }
        .projetos{
            text-align: center;
            position: relative;
            transform: translate(-50%, -50%);
            max-width: 1280px;
            width: auto;

            .projects_box{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 32px;
                max-width: 90%;
                margin: 32px auto;

                .projeto{
                    max-width: 360px;
                    transition: all ease .3s;
                    text-shadow: 0 0 10 #000;
                    
                    a{
                        text-decoration: none;

                        img{
                            max-width: 100%;
                            border-radius: 4px;
                        }
                        p{
                            margin: 0 auto;
                        }
                    }
                    &:hover{
                        transform: scale(1.04);
                    }

                    @media(max-width: 768px){
                        max-width: 144px;

                        p{
                            text-align: center;
                        }
                    }
                }

                @media(max-width: 768px){
                    gap: 16px;
                }
            }
            .btn{
                margin: 0 auto;
            }
        }
        .hidden{
            transform: translate(-80%, 360px);
            opacity: 0;

            @media(max-width: 768px){
                transform: translate(-50%, 360px);
            }
        }
        .hidden2{
            transform: translate(-50%, 360px);
            opacity: 0;
        }
    }
}